<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>


      <hr>
      <br>
      <h2> User - Vijay Kumar </h2>
      <h4>Requests to GET JSON (User JSON)</h4>
      <ol>
        <li> <a href="http://localhost:8080/user/findall">http://localhost:8080/user/findall</a>
        </li>
        <li> <a
            href="https://serene-tor-48007.herokuapp.com/user/findone/919576868">https://serene-tor-48007.herokuapp.com/user/findone/1</a>
        </li>
        <li> <a
            href="https://serene-tor-48007.herokuapp.com/user/findone/919573149">https://serene-tor-48007.herokuapp.com/user/findone/91</a>
        </li>
        <li> <a
            href="https://serene-tor-48007.herokuapp.com/user/findone/919563768">https://serene-tor-48007.herokuapp.com/user/findone/92</a>
        </li>
        <li> <a
            href="https://serene-tor-48007.herokuapp.com/user/findone/919569145">https://serene-tor-48007.herokuapp.com/user/findone/93</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view (User View)</h4>
      <ol>
        <li>
          <a href="https://serene-tor-48007.herokuapp.com/user">https://serene-tor-48007.herokuapp.com/user</a>
        </li>
        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/create">https://serene-tor-48007.herokuapp.com/user/create</a>
        </li>

        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/edit/919569145">https://serene-tor-48007.herokuapp.com/user/edit/91</a>
        </li>
        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/edit/919563768">https://serene-tor-48007.herokuapp.com/user/edit/92</a>
        </li>
        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/edit/919573149">https://serene-tor-48007.herokuapp.com/user/edit/93</a>
        </li>

        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/delete/919576868">https://serene-tor-48007.herokuapp.com/user/delete/91</a>
        </li>
        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/delete/919573149">https://serene-tor-48007.herokuapp.com/user/delete/92</a>
        </li>
        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/delete/919563768">https://serene-tor-48007.herokuapp.com/user/delete/93</a>
        </li>

        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/details/919569145">https://serene-tor-48007.herokuapp.com/user/details/91</a>
        </li>
        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/details/919576868">https://serene-tor-48007.herokuapp.com/user/details/92</a>
        </li>
        <li>
          <a
            href="https://serene-tor-48007.herokuapp.com/user/details/919573149">https://serene-tor-48007.herokuapp.com/user/details/93</a>
        </li>
        <br>
        <h2> Account - Prajakt Uttamrao Khawse </h2>
        <h4>Requests to GET JSON (Account JSON)</h4>
        <ol>
          <li> <a href="http://localhost:8089/user/findall">http://localhost:8089/user/findall</a>
          </li>
          <li> <a href="http://localhost:8089/user/findone/1">http://localhost:8089/user/findone/1</a>
          </li>
          <li> <a href="http://localhost:8089/user/findone/91">http://localhost:8089/user/findone/91</a>
          </li>
          <li> <a href="http://localhost:8089/user/findone/92">http://localhost:8089/user/findone/92</a>
          </li>
          <li> <a href="http://localhost:8089/user/findone/93">http://localhost:8089/user/findone/93</a>
          </li>
        </ol>
        <br>
        <h4>Requests to GET a view (Account View)</h4>
        <ol>
          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts">https://mvcbanking-group8.herokuapp.com/accounts</a>
          </li>
          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts/create">https://mvcbanking-group8.herokuapp.com/accounts/create</a>
          </li>

        <h4>Requests to GET JSON For Accounts (Prajakt Uttamrao Khawase)</h4>
      <ol>
        <li> <a href="http://mvcbanking-group8.herokuapp.com/accounts/findall">http://mvcbanking-group8.herokuapp.com/accounts/findall</a>
        </li>
        <li> <a href="http://mvcbanking-group8.herokuapp.com/accounts/findone/12">http://mvcbanking-group8.herokuapp.com/accounts/findone/12</a>
        </li>
        <li> <a href="http://mvcbanking-group8.herokuapp.com/accounts/findone/20">http://mvcbanking-group8.herokuapp.com/accounts/findone/20</a>
        </li>
        <li> <a href="http://mvcbanking-group8.herokuapp.com/accounts/findone/22">http://mvcbanking-group8.herokuapp.com/accounts/findone/22</a>
        </li>
        <li> <a href="http://mvcbanking-group8.herokuapp.com/accounts/findone/30">http://mvcbanking-group8.herokuapp.com/accounts/findone/30</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view (Prajakt Uttamrao Khawase)</h4>
      <ol>
        <li>
          <a href="https://mvcbanking-group8.herokuapp.com/accounts">https://mvcbanking-group8.herokuapp.com/accounts</a>
        </li>
        <li>
          <a href="https://mvcbanking-group8.herokuapp.com/accounts/create">https://mvcbanking-group8.herokuapp.com/accounts/create</a>
        </li>

          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts/delete/22">https://mvcbanking-group8.herokuapp.com/accounts/delete/22</a>
          </li>
          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts/delete/30">https://mvcbanking-group8.herokuapp.com/accounts/delete/30</a>
          </li>
          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts/delete/20">https://mvcbanking-group8.herokuapp.com/accounts/delete/20</a>
          </li>

          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts/edit/22">https://mvcbanking-group8.herokuapp.com/accounts/edit/22</a>
          </li>
          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts/edit/22">https://mvcbanking-group8.herokuapp.com/accounts/edit/22</a>
          </li>
          <li>
            <a
              href="https://mvcbanking-group8.herokuapp.com/accounts/edit/22">https://mvcbanking-group8.herokuapp.com/accounts/edit/22</a>
          </li>
        </ol>
    </div>
  </div>
</div>