<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>User details</h2>
      <br> ID: <%=  user._id %>
      <br> Name: <%=  user.name %>
      <br> Account Number: <%=  user.accountNumber %>
      <br> Balance: <%=  user.balance %>
      <br> Email: <%=user.email%>
      <br> Street 1: <%=user.street1%>
      <br> Street 2: <%=user.street2 %>
      <br> City: <%=user.city %>
      <br> State: <%=user.state %>
      <br> Zip: <%=user.zip %>
      <br> Country: <%=user.country %>
      <hr>

      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>