<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of transaction</h2>
      <br>
      <br> ID: <%=  order._id %>
      <br> transactionID: <%=order.transactionID%>
      <br> transactiondate: <%=order.transactiondate%>
      <br> accountNumber: <%=order.accountNumber%>
      <br> transactionamount: <%=order.transactionamount%>
      <hr>
      
      <form method="get" action="/order">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/order/delete/<%= order._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>