<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="order/create" class="btn btn-primary new">
        Create a new transaction
      </a>

      <h2>Recent entries</h2>
      <p>There are
        <%= orders.query.length %> orders.
        <br>
      </p>
      <% for (var i = orders.query.length-1; i >= 0; i--) {   
        order = orders.query[i];   %>

      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> ID: <%=  order._id %>
          <br> transactionID: <%=order.transactionID%>
          <br> transactiondate: <%=order.transactiondate%>
          <br> accountNumber: <%=order.accountNumber%>
          <br> transactionamount: <%=order.transactionamount%>
          <hr>
          <a href="/order/delete/<%= order._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/order/details/<%= order._id %>" class="btn btn-info"> Details </a>
          <a href="/order/edit/<%= order._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr>
        </div>
      </div>
      <% } %>

    </div>
  </div>
</div>