<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of Account</h2>
      <br>
      <br> ID: <%=  product._id %>
      <br> Account Key: <%=product.productKey%>
      <br> Account description: <%=product.description%>
      <br> Amount: <%=product.unitPrice%> $
      <hr> 
      
      <form method="get" action="/accounts">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/accounts/delete/<%= product._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>