<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Account details</h2>
      <br>
      <br> ID: <%=  product._id %>
      <br> Account Key: <%=product.productKey%>
      <br> Account description: <%=product.description%>
      <br> Amount: <%=product.unitPrice%> $
      <hr>

      <form method="get" action="/accounts">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div> 
  </div>
</div>