<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="accounts/create" class="btn btn-primary new">
        Create a new Account
      </a>

      <h2>Number of Accounts</h2>
      <p>There are
        <%= products.query.length %> Number of Accounts Now.
        <br>
      </p>
      <% for (var i = products.query.length-1; i >= 0; i--) {   
        product = products.query[i];   %>
      <div class="panel panel-default">
        <div class="panel-heading"></div>
        <div class="text-muted pull-right"></div>
        <div class="panel-body">

          <br> Account Number: <%=  product._id %>
          <br> Account Type: <%=product.productKey%>
          <br> Description of The Account: <%=product.description%>
          <br> Account Balance: <%=product.unitPrice%> $
          <hr>
          <a href="/accounts/delete/<%= product._id  %>" class="btn btn-danger"> Delete </a>
          <a href="/accounts/details/<%= product._id %>" class="btn btn-info"> Details </a>
          <a href="/accounts/edit/<%= product._id %>" class="btn btn-primary"> Edit </a>
          <hr>
          <hr> 
        </div>
      </div> 
      <% } %>

    </div>
  </div>
</div>